body {
  &.green {
    color: var(--brand-primary-green-75);

    .site-header {
      border-bottom-color: var(--brand-primary-green-50);
      .logo a {
        color: var(--brand-primary-green);
      }
      .cursor {
        background: var(--brand-primary-green);
      }
    }

    article-post {
      color: var(--brand-primary-green-75);
      img {
        border-color: var(--brand-primary-green-75);
      }
    }
  }

  &.blue {
    color: var(--brand-primary-blue-75);
    .site-header {
      border-bottom-color: var(--brand-primary-blue-75);
      .logo a {
        color: var(--brand-primary-blue);
      }
      .cursor {
        background: var(--brand-primary-blue);
      }
    }

    article-post {
      color: var(--brand-primary-blue-75);
      img {
        border-color: var(--brand-primary-blue-75);
      }
    }
  }

  &.red {
    color: var(--brand-primary-red-75);

    .site-header {
      border-bottom-color: var(--brand-primary-red-75);
      .logo a {
        color: var(--brand-primary-red);
      }
      .cursor {
        background: var(--brand-primary-red);
      }
    }

    article-post {
      color: var(--brand-primary-red-75);
      img {
        border-color: var(--brand-primary-red-75);
      }
    }
  }

  &.grey {
    color: var(--brand-primary-grey-75);

    .site-header {
      border-bottom-color: var(--brand-primary-grey-75);
      .logo a {
        color: var(--brand-primary-grey);
      }
      .cursor {
        background: var(--brand-primary-grey);
      }
    }

    article-post {
      color: var(--brand-primary-grey-75);
      img {
        border-color: var(--brand-primary-grey-75);
      }
    }    
  }

  &.amber {
    color: var(--brand-primary-amber-75);

    .site-header {
      border-bottom-color: var(--brand-primary-amber-75);
      .logo a {
        color: var(--brand-primary-amber);
      }
      .cursor {
        background: var(--brand-primary-amber);
      }
    }

    article-post {
      color: var(--brand-primary-amber-75);
      img {
        border-color: var(--brand-primary-amber-75);
      }
    }
  }
}