<% if (theme.home_options?.showHero === true) { %>
  <%- partial('_partial/pagehero') %>
<% } %>

<% if (theme.home_options?.showHomeFull === true) { %>
  <div class="home-content-container">
    <%- partial('_partial/postList') %>
  </div>
<% } %>

<% if (theme.home_options?.showHomeFull === true) { %>
  <%- partial('_partial/postList') %>
<% } %>