@import "./utils/variables.css";

/* --- Content container --- */
article.post {
  .post-content {
    max-width: 100%;
    margin-inline: auto;
    line-height: 1.7;
    overflow-wrap: anywhere;

    /* Headings */
    h1,
    h2,
    h3,
    h4 {
      line-height: 1.25;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
    }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.6rem; }
    h3 { font-size: 1.3rem; }

    p {
      margin: 0 0 2em 0;
    }

    a {
      text-decoration-thickness: 0.12em;
      text-underline-offset: 0.18em;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 1.2em auto;
      border: 1px solid #f1f1f1;
    }
    p > img {
      margin: 1.2em auto;
    }

    ul,
    ol {
      padding-left: 1.4em;
    }

    li + li {
      margin-top: 0.35em;
    }
  }
    /* Colors */
    &.green {
      color: var(--brand-primary-green-75);
      img {
        border-color: var(--brand-primary-green-75);
      }
    }
    &.blue {
      color: var(--brand-primary-blue-75);
      img {
        border-color: var(--brand-primary-blue-75);
      }
    }
    &.red {
      color: var(--brand-primary-red-75);
      img {
        border-color: var(--brand-primary-red-75);
      }
    }
    &.grey {
      color: var(--brand-primary-grey-75);
      img {
        border-color: var(--brand-primary-grey-75);
      }
    }
    &.amber {
      color: var(--brand-primary-amber-75);
      img {
        border-color: var(--brand-primary-amber-75);
      }
    }


}



.post-content > * + * {
  margin-top: 1em;
}


/* Nested lists spacing */
li > ul,
li > ol {
  margin-top: 0.5em;
}

/* Blockquotes */
blockquote {
  margin: 1.2em 0;
  padding: 0.8em 1em;
  border-left: 0.3em solid currentColor;
  opacity: 0.9;
}

/* Inline code */
:not(pre) > code {
  padding: 0.15em 0.35em;
  border-radius: 0.25em;
  font-size: 0.95em;
}

/* Code blocks */
pre {
  overflow: auto;
  padding: 1em;
  border-radius: 0.5em;
}

pre code {
  padding: 0;
  background: none;
  font-size: 0.95em;
}

hr {
  border: 0;
  border-top: 1px solid currentColor;
  opacity: 0.2;
  margin: 2em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;

  th, td {
    text-align: left;
    padding: 0.6em 0.8em;
    border-bottom: 1px solid rgba(127, 127, 127, 0.25);
  }
}

/* Image styling is applied if terminal images is enabled */
.terminal-images .post-content img {
  filter: grayscale(.5) contrast(1) brightness(.4);
  &.no-filter {
    filter: none;
  }
}

/* Small screens: reduce padding a bit */
@media (max-width: 600px) {
  .post-content {
    max-width: 100%;
  }
  .post-content pre {
    padding: 0.8em;
  }
}