@import "./utils/variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--page-bg);
  padding-top: 100px;
  padding: 100px 40px;
  color: var(--brand-primary-75);
  font-family: "IBM Plex Mono", ui-monospace, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  a {
    color: var(--brand-primary-75);
    transition: color .2s;
    transition-delay: .2s;
  }
  a:hover {
    color: var(--brand-primary);
    transition: color .2s;
  }

}

/* Header */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 90;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--brand-primary-25);
  padding: 0 40px;

  .logo {
    a {
      text-decoration: none;
    }
  }

  nav {
    margin: auto 0 auto auto;
  }
}