<footer class="site-footer">
  <div class="wrapper">
    <div class="left">
      <p class="copy">Site Content <%= new Date().getFullYear() %> <%= config.author || '' %> ©</p>
    </div>
    <div class="right">
      <p class="right">Using <a href="https://github.com/AllanOcelot/hexo-theme-terminal" target="_blank" title="Terminal">Terminal</a> Theme built by AllanCodes <3 </p>
    </div>
  </div>
</footer>