<div class="posts">
  <ul class="postList minimal">
    <% page.posts.each(function(post){ %>
      <li>
        <small class="post-date"><%= date(post.date, 'DD-MM-YYYY') %></small>
        <a href="<%- url_for(post.path) %>"><%= post.title || 'Untitled' %></a>
      </li>
    <% }) %>
  </ul>
</div>