
/* Header */
.site-header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  border-radius: 20px 20px 0 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    flex: 1 auto;
  }

  .logo {
    display: flex;
    h1 {
      display: inline-block;
      margin: auto;
    }
    a {
      text-decoration: none;
    }

    .cursor {
      display: inline-block;
      margin-left: 6px;
      position: relative;
      top: 23px;
      width: 12px;
      height: 32px;
      background: #f1f1f1;
      animation: cursor-blink 1.4s steps(1, end) infinite;
    }
  }

  nav {
    margin: auto 0 auto auto;
  }
}

/* Animation */
@keyframes cursor-blink {
  0%, 49% { opacity: .75; }
  50%, 100% { opacity: 0; }
}