
/* Header */
.site-header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  border-radius: 20px 20px 0 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    flex: 1 auto;
  }

  .logo {
    h1 {
      display: inline-block;
    }
    a {
      text-decoration: none;
    }

    .cursor {
      display: inline-block;
      position: relative;
      top:3px;
      width: 12px;
      height: 32px;
      background: #f1f1f1;
      animation: cursor-blink 1.4s steps(1, end) infinite;
    }
  }

  nav {
    margin: auto 0 auto auto;
  }

  &.green {
    border-bottom-color: var(--brand-primary-green-50);
    .logo a {
      color: var(--brand-primary-green);
    }
    .cursor {
      background: var(--brand-primary-green);
    }
  }
  &.blue {
    border-bottom-color: var(--brand-primary-blue-75);
    .logo a {
      color: var(--brand-primary-blue);
    }
    .cursor {
      background: var(--brand-primary-blue);
    }
  }
  &.red {
    border-bottom-color: var(--brand-primary-red-75);
    .logo a {
      color: var(--brand-primary-red);
    }
    .cursor {
      background: var(--brand-primary-red);
    }
  }
  &.grey {
    border-bottom-color: var(--brand-primary-grey-75);
    .logo a {
      color: var(--brand-primary-grey);
    }
    .cursor {
      background: var(--brand-primary-grey);
    }
  }
  &.amber {
    border-bottom-color: var(--brand-primary-amber-75);
    .logo a {
      color: var(--brand-primary-amber);
    }
    .cursor {
      background: var(--brand-primary-amber);
    }
  }
}

/* Animation */
@keyframes cursor-blink {
  0%, 49% { opacity: .75; }
  50%, 100% { opacity: 0; }
}
