.posts {
  .postList {
    list-style: none;
    padding-left: 0;
    &.full {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 40px;
      row-gap: 40px;

      .featured-image {
        display: block;
        width: 100%;
        height: 224px;
        margin-bottom: 10px;
        border: 1px solid var(--brand-primary-50);
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

    }
    &.minimal {
      li {
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
  }
}