.posts {
  .postList {
    list-style: none;
    padding-left: 0;
    &.full {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 40px;
      row-gap: 40px;

      @media screen and (max-width: 1200px){
        grid-template-columns: repeat(2, minmax(0,1fr));
      }

      @media screen and (max-width: 1024px){
        grid-template-columns: repeat(1, minmax(0,1fr));
      }

      .post {
        display: flex;
        flex-direction: column;

        .featured-image {
          display: block;
          width: 100%;
          height: 224px;
          margin-bottom: 10px;
          border: 1px solid var(--brand-primary-75);
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          filter: grayscale(0) contrast(.8) brightness(.5);
          opacity: .85;
          transition: all .3s;
          transition-delay: filter .3s, opacity .4s;
          overflow: hidden;
          &.no-filter {
            filter: none;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          min-height: 120px;
          .post-date {
            margin-bottom: 10px;
          }
          .title {
            font-size: 20px;
            line-height: 30px;
            text-underline-offset: 3px;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 2px;
          }
        }
        .button {
          width: auto;
          margin-right: 0;
          margin-left: auto;
        }

        &:hover {
          .featured-image {
            filter: none;
            opacity: 1;
            transition: all .4s;
          }
          .content .title {
            text-decoration: underline;
          }
        }

      }
    }
    &.minimal {
      li {
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
  }
}